@import 'tailwindcss';

@theme {
	--animate-spotlight: spotlight 2s ease 0.75s 1 forwards;
}

@keyframes marquee {
	to {
		transform: translateX(-100%);
	}
}

.animate-marquee {
	animation: marquee 10s linear infinite;
}

@keyframes spotlight {
	0% {
		opacity: 0;
		transform: translate(-72%, -62%) scale(0.5);
	}
	100% {
		opacity: 1;
		transform: translate(-50%, -40%) scale(1);
	}
}

@layer components {
	.flex-center {
		@apply flex items-center justify-center;
	}
}

/* @custom-variant dark (&:where(.dark &)); */

@keyframes shimmer {
	from {
		background-position: 0 0;
	}
	to {
		background-position: -200% 0;
	}
}

.animate-shimmer {
	animation: shimmer 2s linear infinite;
}

@layer base {
	button {
		cursor: pointer;
		outline-style: none;
	}
}

html {
	scroll-behavior: smooth;
}

[id] {
	scroll-margin-top: 15rem;
}
